@import url(http://fonts.googleapis.com/css?family=Economica:400,700);


body {
	background-color: green;
	margin: 0;
}


h1{
	color: white;
	font-family: 'Economica', sans-serif;
	font-size: 40px;
	text-align: center;
	overflow: hidden;
}
