

body {
	
	backgorund: #fff !important;	
	margin: 0;	
	font-family: "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif;
	
}



/** TITLEBAR **/


.titlebar {
	
	background-color: #0E4B75;
	background-image: -webkit-linear-gradient(#359EE7, #125F95 2%, #0A3655);
	border-top-color: #0B3C5E;
	border-bottom-color: #061F31;
	font-size: 15px;
    border-bottom: 1px solid #666;
    color: #222;
    display: block;
    /*font-weight: bold;*/
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    height: 3em;
}


.titlebar h1 {
    margin: 0;
    padding: 0;	
    color: white;
    font-size: 25px;
}

.titlebar h2 {
    
    margin: 0;
    padding: 0;	
    color: white;
    font-size: 25px;
}


/*** MAIN TABS ***/


#tabs {
	
	width: 100%;	
	height: 4em;
	border-bottom: 1px solid #000;	
}

.tab {
	
	border-right: 1px solid #000;
	display: inline-block;	
	width: 30%;
	height: 4em;
	
	
}


.normal_tab {

	background: #677374;	
	color: #000;

}

.active_tab {
	
	background: #392D3B;
	color: white;	

}


/** MY APPS **/


.app_entry {
	
	font-size: 14px;
	color: #222222;
	display: block;
	font-weight: bold; 
	margin-bottom: -1px; 
	padding: 25px 10px; 
	text-decoration: none;
	border: solid #DDD;
	border-width: 1px 1px 0 1px;
	border-top-style: solid;
	border-top-color: #DDD;
	background: white;
	height: 3.5em;
	background-color: rgba(192,194,180, 0.2);
	/*background-color: #B0D6E6;*/	
		
}



.app_link a {

	text-decoration: none;
	font-size: 20pt;
	color: #392D3B;
	
}



/** SHARE **/

.share_div {
	
	font-size: 14px;
	color: #222222;
	display: block;
	font-weight: bold; 
	margin-bottom: -1px; 
	padding: 25px 10px; 
	text-decoration: none;
	border: solid #DDD;
	border-width: 1px 1px 0 1px;
	border-top-style: solid;
	border-top-color: #DDD;
	background: white;
	height: 3.5em;
	background-color: rgba(192,194,180, 0.2);	
	
}




.app_name span {
	
	text-transform:capitalize;
}


.share_icons div {
	
	
	display: inline-block;	
	
}



/** SHARE ITEM **/

.share_button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #ffffff;
	padding: 10px 120px;
	background: -moz-linear-gradient(
		top,
		#0f4b73 0%,
		#0f4b73);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#0f4b73),
		to(#0f4b73));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #134201;
	-moz-box-shadow:
		2px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 9px rgba(255,255,255,1);
	-webkit-box-shadow:
		2px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 9px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}

#share_item_content {
	
	height: 5em;	
	
	
}

