@import url(http://fonts.googleapis.com/css?family=Ubuntu);

html,body {
	margin: 0;
	background:
		url("http://iskin.co.uk/wallpapers/imagecache/1920x1080/sunny_clouds_sky.jpg");
	font-family: 'Ubuntu', sans-serif;
	color: white;
	width: 1289px;
	overflow: hidden;
	cursor: none;
	user-select: none;
	-webkit-user-select: none;
}

.city {
	width: 365px;
	height: 750px;
	margin-left: 60px;
	margin-top: 190px;
	background-color: black;
	opacity: 0.7;
	float: left;
}

.cityname {
	font-size: 50px;
	margin-top: -65px;
	position: relative;
	text-shadow: 1px 1px #2C2C2C;
}

.maxmin {
	font-size: 25px;
}

.humiwind {
	font-size: 25px;
	width: 170px;
}

.light {
	opacity: 0.5;
}

.forecast {
	width: 90%;
	border-spacing: 25px;
	margin: 0 auto;
	font-size: 20px;
}

.bold {
	font-weight: bold;
}

.tempbig {
	width: 115px;
	font-size: 60px;
}