@(displayID: String, displayName: String) @main("Showing " +
displayName) {

<script type="text/javascript">
	$(function() { 
		var WS = WebSocket;
		var wsUri = "ws://pdnet.inf.unisi.ch:9000/display/socket";
		websocket = new WS(wsUri); 
		websocket.onopen = function(evt) { 
			console.log("DISPLAY ID " + "@displayID" + " CONNECTED");
			var hi = JSON.stringify
			({
				"displayID":  "@displayID"
			});
			websocket.send(hi);
		}; 
	
		websocket.onclose = function(evt) { 
			var bye = JSON.stringify
			({
				"displayID":  "@displayID"
			});
			websocket.send(bye);
		};
	
		websocket.onmessage = function(evt) { 
			console.log(evt.data) ;
		};
	
		websocket.onerror = function(evt) { 
			console.log(evt.data); 
		}; 
	});
	</script>


<script type="text/javascript">
	// On document ready
	isLeftCollapsed = true;

	$(function(){

		$("#bar").click(function(){
			if(isLeftCollapsed){
				$("#left").animate({width: '1317px'});
				$("#right").animate({width: '575px'});
				
				$("#leftsmall").fadeOut();
				$("#leftbig").fadeIn();

				$("#rightbig").fadeOut();
				$("#rightsmall").fadeIn();
				
				$("#bar").animate({'background-image': 'url(assets/stylesheets/images/bar_sx.png)'});				

				
				isLeftCollapsed = false;
			} else {
				$("#right").animate({width: '1317px'});
				$("#left").animate({width: '575px'});

				$("#leftbig").fadeOut();
				$("#leftsmall").fadeIn();

				$("#rightbig").fadeIn();
				$("#rightsmall").fadeOut();

				$("#bar").animate({'background-image': 'url(assets/stylesheets/images/bar_dx.png)'});				
				isLeftCollapsed = true;
			}
		});
		
		$(".icon").click(function() {
			if($(this).hasClass("hidden")){
  				$(this).removeClass( "hidden", 100);
  				$(this).addClass( "active", 100);
		       	$(this).effect("bounce", {times:3,distance: 10}, 300);
  			} else {
  				 $(this).addClass( "hidden", 100);
   				 $(this).removeClass( "active", 100);
  			}
  			return false;
		});

	});
	</script>


<div id="left">
	<iframe id="leftsmall"
		src="assets/applications/weather/wheatersmall.html"></iframe>
	<iframe id="leftbig" src="assets/applications/weather/wheaterbig.html"
		style="display: none;"></iframe>
</div>

<div id="bar"></div>

<div id="right">
	<iframe id="rightsmall" src="assets/applications/news/newssmall.html"
		style="display: none;"></iframe>
	<iframe id="rightbig" src="assets/applications/news/newsbig.html"></iframe>
</div>

<div id="showmore">
SHOW MORE APPS
</div>

<div id="dock">
	<div class="icon hidden">
		<img src="/assets/prova/class.png" />
	</div>
	<div class="icon active">
		<img src="/assets/prova/news.png" />
	</div>
	<div class="icon hidden">
		<img src="/assets/prova/pictures.png" />
	</div>
	<div class="icon hidden">
		<img src="/assets/prova/usinews.png" />
	</div>
	<div class="icon active">
		<img src="/assets/prova/weather.png" />
	</div>
</div>
}
