@(displayID: String, displayName: String, tilesToShow: List[Tile]) 

@main("Showing " + displayName) {

	<div id="onError" style="display:none"><span></span></div>

	<script src="@routes.Assets.at("javascripts/layout.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/responsiveslides.min.js")" type="text/javascript"></script>
	<script type="text/javascript">
	$(function() { 
	var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
	var wsUri = "ws://pdnet.inf.unisi.ch:9000/display/socket";
	websocket = new WS(wsUri); 
	websocket.onopen = function(evt) { 
		console.log("DISPLAY ID " + "@displayID" + " CONNECTED");
		var hi = JSON.stringify
		({
			"displayID":  "@displayID"
		});
		websocket.send(hi);
	}; 

	websocket.onclose = function(evt) { 
		var bye = JSON.stringify
		({
			"displayID":  displayID
		});
		websocket.send(bye);
	};

	websocket.onmessage = function(evt) { 
		console.log(evt.data) ;
	};

	websocket.onerror = function(evt) { 
		console.log(evt.data); 
	}; 

	// Creates the tiles
	@for(tile <- tilesToShow) {
			createApp("@tile.appName","@tile.id",@tile.startX,@tile.startY,@tile.width,@tile.height,"@tile.htmlSource");
		} 
	});
	</script>





	}
