@(tiles: List[Tile], layoutName: String, layoutID: Long)

@import helper._
@import helper.twitterBootstrap._

@main("Layout Creator " + layoutName) {
<script src="@routes.Assets.at("javascripts/layoutcreator.js")" type="text/javascript"></script>
  
<script type="text/javascript">
// When the document is ready
$(function() {
	
	xmlDoc = xmlToDOM(getBaseURL() + "assets/applications/list.xml");
	var availableApps = xmlDoc.getElementsByTagName("app");
	var accordionApps = $('#accordion');
	
	var i = 0;
	while(i < availableApps.length)
	{
	    var currentApp = availableApps[i];
	    var currentAppName = currentApp.getElementsByTagName("name")[0].childNodes[0].nodeValue;
	    var namespace = currentApp.getElementsByTagName("namespace")[0].childNodes[0].nodeValue;

	    accordionApps.append("<h3><a href='#'>" + currentAppName + "</a></h3>");
	    var currentAppContent = $('<div/>');
	    var j = 0;
	    var availableSizes = currentApp.getElementsByTagName("size");
	    while(j < availableSizes.length){
	    	
	    	var currentSize = availableSizes[j];
	    	
	    	var tileWidth = currentSize.getElementsByTagName("width")[0].childNodes[0].nodeValue;
	    	var tileHeight = currentSize.getElementsByTagName("height")[0].childNodes[0].nodeValue;
	    	var previewImage = currentSize.getElementsByTagName("preview_image")[0].childNodes[0].nodeValue;
	    	var htmlSource = currentSize.getElementsByTagName("tile_source")[0].childNodes[0].nodeValue;
	    	
	    	var xmlsettings = currentSize.getElementsByTagName("setting");
	    	var k = 0;
	    	var settingsValues = {};
	    	while(k < xmlsettings.length){
	    	  var currentSetting = xmlsettings[k].childNodes[0].nodeValue;
	    	  settingsValues[currentSetting] = xmlsettings[k].childNodes[0].nodeValue.replace(" ","_").toLowerCase();
	    	  k++;
	    	}
	    	
	    	var tileID = namespace + "_" + tileWidth + "_" + tileHeight;
	    	var tileToAdd = $("<div class='tiles' />");
	    	tileToAdd.addClass(tileID);
	    	tileToAdd.attr('id', tileID);
	    	tileToAdd.data("htmlSource", htmlSource);
	    	tileToAdd.data("settingsParameters",settingsValues);
	    	
	    	currentAppContent.append(tileToAdd);
	    	j++;
	    }
	    accordionApps.append(currentAppContent);
	    i++;
	}
	accordionApps.accordion({event: "mouseover"});
	

	  $(".tiles").draggable({
          helper:'clone', 
          opacity: 0.5, 
          appendTo:'body'
	});
	 
	// For each tile saved in the database 
	@for(tile <- tiles) {
		var id = "@tile.appName" + "_" + "@tile.width" + "_" + "@tile.height";
	 	var currentTile = $('<div id="' + id + '" class="' + id + '"' + '></div>');
	 	
	 	currentTile.css('position','absolute');
	 	
	 	var screenLeft = $('#screen').position().left;
        var screenTop = $('#screen').position().top;
        
	 	var left = @tile.startX * size + screenLeft;
	 	var top = @tile.startY * size + screenTop;
	 	currentTile.css('left',left + 'px');
	 	currentTile.css('top',top + 'px');

	 	
        // Make the new tile draggable
        currentTile.draggable({
                containment: 'parent',
                grid: [size,size],
                stop: function(event, ui) {
                  var position = $(this).position();
                  var startX = (position.left - screenLeft)/size;
                  var startY = (position.top - screenTop)/size;
                  
                  $(this).data('startX',startX);
                  $(this).data('startY',startY);
                  
                  $(this).html("<small>("+ startX + "," + startY + ")</small>");
                }
        });
        
        currentTile.dblclick(function(){
                	$("#settings").html('waffanculo');
        });
        
        currentTile.data('startX',@tile.startX);
        currentTile.data('startY',@tile.startY);
        currentTile.data('htmlSource' , '@tile.htmlSource');
        
        currentTile.html("<small>("+ @tile.startX + "," + @tile.startY + ")</small>");
        currentTile.append("<span id='deletebutton' onclick='deletetile(this);'> DELETE <span>");
	 	$('#screen').append(currentTile);
	 	
	 }
	
	$('#save').click(function() {
		  var result = [];
		  $("#screen").children().each(function() {
		    var currentApp = {};
		    
		    currentApp.startX = $(this).data('startX');
		    currentApp.startY = $(this).data('startY');
		    
		    var id = $(this).attr('id');
		    var splitted = id.split("_");
		    var appName = splitted[0];
		    var width = splitted[1];
		    var height = splitted[2];

		    currentApp.appName = appName;
		    currentApp.width = parseInt(width,10);
		    currentApp.height = parseInt(height,10);
		    currentApp.htmlSource = $(this).data("htmlSource");
		    currentApp.settings = $(this).data("settingsValues");
		    console.log(currentApp);
		    result.push(currentApp);
		  });

		  jQuery.ajax({
			  url: getBaseURL() + 'display/layouts/@layoutID/save',
			  type: 'POST',
			  data: JSON.stringify(result),
			  contentType: "application/json",
			  error: function(xhr, ajaxOptions, thrownError){ 
				  var msg = $('<div class="alert alert-block">'
						     + '<a class="close" data-dismiss="alert">X</a><h4 class="alert-heading">Warning!</h4>'
						     + xhr.responseText
						     + '</div>');
				  $('#message').html(msg);
			  },
			  success: function(){
				  var msg = $('<div class="alert alert-success">'
						     + '<a class="close" data-dismiss="alert">X</a><h4 class="alert-heading">Well done!</h4>'
						     + 'Your layout has been saved succesfully.'
						     + '</div>');
				 $('#message').html(msg);
			  }
		  
		  });
		});
	
});
</script>

<div data-dropdown="dropdown" class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <h3><a>Layout Creator - @layoutName</a></h3>
          <ul class="nav">
            <li><a data-toggle="modal" href="#myModal">New</a></li>
            <li><a id="save">Save</a></li>
            <li><a >Export</a></li>
            <li><a >Load</a></li>
          </ul>
        </div>
      </div><!-- /topbar-inner -->
</div><!-- /topbar -->


<div class="editarea">
	<div id="screen">
	<!-- WHERE THE TILES ARE DROPPED -->
	</div>
	
	<div id="accordion">
		<h3><a href="#">Settings</a></h3>
		<div id="settings"></div>
	</div>
</div>

<div id="message"></div>

}
       
