@(displays: List[Display])
@import helper.twitterBootstrap._

@main("Manager") {
<script src="@routes.Assets.at("javascripts/manager.js")" type="text/javascript"></script>
			<div class="screencenter">
				<div class="f1_container">
					<div class="well shadow f1_card" id="displayscard">
						<div class="front face" id="listofdisplays">
							<h1>Displays</h1>
							<button class="btn btn-mini" id="addnewdisplay" style="margin: 10px 215px 10px 215px;" onclick="opennewdisplay()">Add new</button>
							<table class="table table-condensed">
								<thead>
									<tr>
										<th>ID</th>
										<th>Name</th>
										<th>Size</th>
										<th>Position</th>
										<th>Layout ID</th>
									</tr>
								</thead>
								<tbody id="displayTable">
									@for(display <- displays) {
										<tr onmouseover="highlight(this);" 
										onclick="selectDisplay(@display.id,this)" 
										onDblClick="modify(@display.id,
										'@display.name',
										@display.width,
										@display.height,
										@display.latitude,
										@display.longitude
										);">
										<td>@display.id</td>
										<td>@display.name</td>
										<td>@display.width x @display.height</td>
										<td>@display.latitude , @display.longitude</td>
										<td>@if(display.currentLayoutID==null){NONE}else{@display.currentLayoutID}</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
					<div class="back face" id="displayback">
						<div id="displaymodify" class="backform">
							<label>Display name</label>
							<input type="text" class="span3" id="displayformname"><br/><br/>

							<label>Width</label>
							<input type="text" class="span3" id="displayformwidth"><br/><br/>

							<label>Height</label>
							<input type="text" class="span3" id="displayformheight"><br/><br/>

							<label>Latitude</label>
							<input type="text" class="span3" id="displayformlatitude"><br/><br/>	

							<label>Longitude</label>
							<input type="text" class="span3" id="displayformlongitude"><br/><br/>

							<a class="btn btn-danger" onclick="deleteDisplay()"><i class="icon-trash icon-white"></i> Delete</a>
							<a class="btn" onclick="$('#displayscard').toggleClass('hovered')"> Cancel</a>
							<a class="btn btn-success" onclick="updateDisplayInformations()"> Save changes</a>

						</div>
						<div id="displaynew" class="backform">
							<label>Display name</label>
							<input type="text" class="span3" id="displayformnamen"><br/><br/>

							<label>Width</label>
							<input type="text" class="span3" id="displayformwidthn"><br/><br/>

							<label>Height</label>
							<input type="text" class="span3" id="displayformheightn"><br/><br/>

							<label>Latitude</label>
							<input type="text" class="span3" id="displayformlatituden"><br/><br/>	

							<label>Longitude</label>
							<input type="text" class="span3" id="displayformlongituden"><br/><br/>

							<a class="btn" onclick="$('#displayscard').toggleClass('hovered')"> Cancel</a>
							<a class="btn btn-success" onclick="addNewDisplay()"> Add Display</a>
						</div>
					</div>		
				</div>
			</div>
		</div>

		<div id="message" />
}